/* Cargar fuentes complementarias mediante url */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@400;500;600&display=swap');

/* Cargar la fuente principal de manera local de formato OTF */

@import url('https://fonts.cdnfonts.com/css/now');

/* aplicando estilo de fuente principal */
body {
  font-family: 'Now', sans-serif;                                         
}

/* aplicando estilo de fuente complementaria a los titulos */
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

/* aplicando estilo de fuente complementaria a los botones */
button {
  font-family: 'Poppins', sans-serif;
}

/* Clase para aplicar fuente Now */
.font_now {
  font-family: 'Now', sans-serif !important;                                             
}

/* Clase para aplicar fuente Poppins */
.font_poppins {
  font-family: 'Poppins', sans-serif !important;
}

/* Clase para aplicar fuente OpenSans */
.font_opensans {
  font-family: 'OpenSans', sans-serif !important;
}