.pies {
    background-color: #22825c !important; /* gris oscuro */
    color: #f8f9fa;            /* texto claro */
    padding: 2rem 1rem;
    font-size: 0.95rem;
    line-height: 1.6;
    border-top: 4px solid beige; /* azul bootstrap */
    border-radius: 15px 15px 0 0; /* Solo esquinas superiores */
    margin-top: 8em; /* Esto asegura que el footer esté al final de la página */
}

.pies .container {
    max-width: 960px;
    margin: 0 auto;
}

.pies medium, .pies strong {
    display: block;
    margin-bottom: 0.5rem;
}

.pies strong {
    font-weight: 600;
    color: #ffffff;
}

@media (max-width: 576px) {
    .pies {
        font-size: 0.85rem;
        padding: 1.5rem 0.5rem;
    }
}
