/* Estilo para el encabezado de la página */
header {
	background-color: #003366; /* Azul marino: color institucional/educativo */
	display: grid; /* Se utiliza Grid Layout para organizar el contenido */
	grid-template-columns: 1fr 1fr 1fr; /* Divide el encabezado en tres columnas iguales */
	padding: 10px; /* Espacio interno alrededor del contenido del header */
	width: 100%; /* Ocupa todo el ancho disponible */
}

/* Estilo para cada elemento dentro del header */
.headerItem {
	align-content: center; /* Centra el contenido dentro del área del grid en el eje vertical*/
	text-align: center; /* Centra el texto horizontalmente */
}

/* Estilo para imágenes dentro del header */
.headerItem img {
	height: 100px; /* Alto fijo para las imágenes */
	width: 100px;  /* Ancho fijo para mantener */
}

/* Estilo para títulos (h3) dentro del header */
.headerItem h3 {
	color: white; /* Color blanco para que contraste con el fondo azul */
}
