.jumbotron {
	align-content: center; /* Alinea el contenido verticalmente en el contenedor */
	text-align: center;    /* Centra horizontalmente todo el contenido dentro del jumbotron */
}

.breadcrumb {
	background-color: transparent !important; /* Elimina cualquier fondo del breadcrumb */
}