

header{
	background-color: #003366;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	padding: 10px;
	width: 100%;
}

.headerItem{
 	align-content: center;
 	text-align: center;
 	vertical-align: center;
}

.headerItem img{
	height:100px;
	width:100px;
}

.headerItem h3{
	color: white;
}